body {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategrey;
}
button {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}